<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<h1 style="text-align: center;">太原市空气质量检测大数据</h1>
	<div id="main" style="width: 30%;height:400px;display: inline-block;"></div>
	<div id="main2" style="width: 40%;height:400px;display: inline-block;"></div>
	<!-- <div id="main3" style="width: 40%;height:400px;display: inline-block;"></div> -->
	<div style="width: 18%;display: inline-block;float: right;">
		<p>实时天气</p>
		<p>温度:26</p>
		<p>湿度:54</p>
		<p>气压:1009Pa</p>
		<p>风力:2级</p>
		<p>AQI:109</p>

	</div>

	<div id="main3" style="width: 70%;height:400px;display: inline-block;float: left;"></div>
	<div id="main4" style="width: 30%;height:400px;display: inline-block;"></div>


</body>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.7.0/echarts-en.min.js"></script>

<script type="text/javascript">

	var myChart = echarts.init(document.getElementById('main'));
	var myChart2 = echarts.init(document.getElementById('main2'));
	var myChart3 = echarts.init(document.getElementById('main3'));
	var myChart4 = echarts.init(document.getElementById('main4'));


	option = {
		backgroundColor: '#12cf96',
	    xAxis: {
	        type: 'category',
	        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [{
	        data: [120, 200, 150, 80, 70, 110, 130],
	        type: 'bar'
	    }]
	};

	option2 = {
		backgroundColor: '#12cf96',
	    xAxis: {
	        type: 'category',
	        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [{
	        data: [120, 200, 150, 80, 70, 110, 130],
	        type: 'bar'
	    }]
	};

	option3 = {
	    xAxis: {
	        type: 'category',
	        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [{
	        data: [820, 932, 901, 934, 1290, 1330, 1320],
	        type: 'line'
	    }]
	};



	

	option4 = {
	    title: {
	        text: '多雷达图'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        left: 'center',
	        
	    },
	    radar: [
	        {
	            indicator: [
	                {text: '品牌', max: 100},
	                {text: '内容', max: 100},
	                {text: '可用性', max: 100},
	                {text: '功能', max: 100}
	            ],
	            center: ['25%', '40%'],
	            radius: 80
	        },
	        
	        
	    ],
	    series: [
	        {
	            type: 'radar',
	            tooltip: {
	                trigger: 'item'
	            },
	            areaStyle: {},
	            data: [
	                {
	                    value: [60, 73, 85, 40],
	                    
	                }
	            ]
	        },
	        
	        
	    ]
	};


	myChart.setOption(option);
	myChart2.setOption(option2);
	myChart3.setOption(option3);
	myChart4.setOption(option4);


</script>

</html>